<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
      /> -->
      <!-- <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Rye&family=Saira+Stencil+One&display=swap" rel="stylesheet">

    <script src="https://futurepress.github.io/epubjs-reader/js/libs/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.0/jszip.min.js"></script>
    <script src="https://futurepress.github.io/epubjs-reader/js/epub.js"></script>
    <script src="https://futurepress.github.io/epubjs-reader/js/reader.js" onload="window.ePubReader = module.exports;""></script>
    <!-- <script src="https://futurepress.github.io/epubjs-reader/js/libs/screenfull.min.js"></script> -->
    <title>Readus reLib</title>
  </head>
  <body class=''>
    <div id="root"></div>
  </body>
</html>
